<div class="container-fluid">
  <div class="row">
    <div class="col-12 header">
      <div class="container-fluid header-respondent">
        <div class="row">
          <div class="col-4">
              <img (click)="navigate_to_lobby()" class="logoBolumbia" src="../../assets/bolumbialogo.jpg" alt="Logo Bolumbia">
          </div>
          <div class="col-6 header-title d-flex align-self-center">
              <p>Censo electrónico de Bolumbia</p>
          </div>
          <div class="col-2 d-flex align-self-center">
              <button (click)="logout()" class="btn btn-danger">Salir</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>