<app-header-ecs></app-header-ecs>

<div class="container">
  <div class="container my-4">
    <div class="row justify-content-center">
      <div class="col-12">
        <button type="button" class="btn btn-link" (click)="lobby()">&larr; Volver</button>
        <h1 class="font-weight-bold">Ver Formulario</h1>

        <div class="card">
          <div class="card-body">
            <div class="modal-body">
              <div class="form-row">
                <div class="col">
                  <input type="text" name="cfn" class="form-control" placeholder="CFN" [(ngModel)]="cfn">
                </div>
                <div class="col">
                  <input type="text" name="ecn" class="form-control" placeholder="ECN" [(ngModel)]="ecn">
                </div>
              </div>
              <div class="d-flex justify-content-end">
                <button (click)="show_form()" class="btn btn-outline-primary submit mt-3">Buscar por codigo</button>
              </div>
            </div>
          </div>
        </div>

        <div class="form my-4" *ngIf="response_accepted">
          <div class="row">
            <div class="col-4">
              <div class="nav flex-column nav-pills border" id="form-tabs" role="tablist" aria-orientation="vertical">
                <ng-template ngFor let-section="$implicit" [ngForOf]="data.secciones" let-i="index">
                  <a class="nav-link text-dark border-bottom rounded-0 py-3" id="section" data-toggle="pill" href="#section" role="tab" aria-controls="section" aria-selected="true">
                    {{section.titulo}}
                  </a>
                </ng-template>
              </div>
            </div>
            <div class="col-8">
              <div class="tab-content" id="form-tabs">
                <ng-template ngFor let-section="$implicit" [ngForOf]="data.secciones" let-i="index">
                  <div class="tab-pane fade show active" id="section-{{section}}" role="tabpanel" aria-labelledby="section">
                    <ng-template ngFor let-question="$implicit" [ngForOf]="section.preguntas" let-z="index">
                      <div class="question card rounded-0 mb-5">

                        <div class="card-header">{{question.enunciado}}</div>

                        <div class="card-body">
                          <ul type="circle" class="mb-0">
                            <li *ngFor="let option of question.opciones">{{option}}</li>
                          </ul>
                        </div>

                        <div class="card-footer">
                          <span class="text-muted">Respuesta: </span>
                          <span ng-if="response.secciones[i].preguntas[z].respuesta != ''">{{response.secciones[i].preguntas[z].respuesta}}</span>
                        </div>

                      </div>
                    </ng-template>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- {% for option in question.opciones %}
  <li class="my-2">Coffee</li>
{% endfor %} -->
