<app-header-ecs></app-header-ecs>

<div class="container">
  <div class="container my-4">
    <div class="row justify-content-center">
      <div class="col-12">
        <button type="button" class="btn btn-link" (click)="lobby()">&larr; Volver</button>
        <h1 class="font-weight-bold">Ver Formulario</h1>

        <div class="card">
          <div class="card-body">
            <div class="modal-body">
              <div class="form-row">
                <div class="col">
                  <input type="text" name="cfn" class="form-control" placeholder="CFN" [(ngModel)]="cfn">
                </div>
                <div class="col">
                  <input type="text" name="ecn" class="form-control" placeholder="ECN" [(ngModel)]="ecn">
                </div>
              </div>
              <div class="d-flex justify-content-end">
                <button (click)="show_form()" class="btn btn-outline-primary submit mt-3">Buscar por codigo</button>
              </div>
            </div>
          </div>
        </div>

        <div class="form my-4" *ngIf="response_accepted">
          <div class="row">
            <div class="col-12">
              <ng-template ngFor let-section="$implicit" [ngForOf]="data.secciones" let-i="index">
                <div class="sections mb-4" id="section-info-{{i}}">

                  <div class="section-info d-flex justify-content-between border py-3 px-4" (click)="toggle_subject(i)">
                    <span class="subject-name">{{section.titulo}}</span>
                    <span class="glyphicon glyphicon-menu-down icon" aria-hidden="true"></span>
                    <div class="arrow-up" style="display: none;">
                      <fa-icon [icon]="faAngleUp"></fa-icon>
                    </div>
                    <div class="arrow-down" style="display: block;">
                      <fa-icon [icon]="faAngleDown"></fa-icon>
                    </div>
                  </div>

                  <div class="section-questions questions-close border border-top-0 p-4" id="section-{{i}}" style="display: none;">
                    <ng-template ngFor let-question="$implicit" [ngForOf]="section.preguntas" let-z="index">
                      <div class="question card rounded-0 mb-3">
                        <div class="card-header">{{question.enunciado}}</div>

                        <div class="card-body">
                          <ul type="circle" class="mb-0">
                            <li *ngFor="let option of question.opciones">{{option}}</li>
                          </ul>
                        </div>

                        <div class="card-footer bg-white">
                          <span class="text-muted">Respuesta: </span>
                          <span ng-if="response.secciones[i].preguntas[z].respuesta != ''">{{response.secciones[i].preguntas[z].respuesta}}</span>
                        </div>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
